extends layout

block content
  h1= title
  p This site enables the submission of new resources to the appy platform.
  button(type="button", onclick="location.href='createResource';") Create new resources
  button(type="button", onclick="location.href='resourceList';") Review existing resources
