extends layout

block content
  h1= title
  p This page will, at some point, display the current resources stored.
  p For now, just hit the button to add a new resource.
  
  a.btn-floating.btn-large.waves-effect.waves-light.red(
      onClick="location.href='/createResource';"
      )
     i.material-icons add
